<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary</title>		
    
    <!-- favicon img -->
    <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Slick slider -->
    <link href="/css/slick.css" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="/css/plan.css" rel="stylesheet">

    <!-- Fonts -->

    <!-- Open Sans for body font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
	<!-- Montserrat for title -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <!-- Start Header -->
    <header id="mu-hero" class="" role="banner">
        <!-- Start menu  -->
        <nav class="navbar navbar-fixed-top navbar-default mu-navbar">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="/">Travel Itinerary</a>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mu-menu navbar-right">
                        <li><a href="#mu-hero">Giới thiệu</a></li>
                        <li><a href="#mu-schedule">Lịch trình</a></li>
                        <li><a href="#mu-speakers">Địa điểm du lịch</a></li>
                        <li><a href="#mu-pricing">Đặt vé</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End menu -->

        <div class="mu-hero-overlay">
            <div class="container">
                <div class="mu-hero-area">

                    <!-- Start hero featured area -->
                    <div class="mu-hero-featured-area">
                        <!-- Start center Logo -->
                        <div class="mu-logo-area">
                            <!-- text based logo -->
                            <!-- <a class="mu-logo" href="#">Eventoz</a> -->
                            <!-- image based logo -->
                            <a class="mu-logo" href="#"><img src="images/plan/logo.png"></a>
                        </div>
                        <!-- End center Logo -->

                        <div class="mu-hero-featured-content">
                            <h1>WELCOME TO</h1>
                            <h2> TRAVEL-ITINERARY </h2>
                            <p class="mu-event-date-line"><%= dateList[0] %> - <%= dateList[dateList.length-1] %>. <%= plan.TITLE %>, Việt Nam</p>
                            <h2 style="color:white; font-weight:bold"> <%= plan.PRICE %> </h2>
                        </div>
                    </div>
                    <!-- End hero featured area -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Start main content -->
    <main role="main">
        <!-- Start About -->
        <section id="mu-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-about-area">
                            <!-- Start Feature Content -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mu-about-left">
                                        <img class="" src=" <%= plan.IMG_PLAN %>" alt="Men Speaker">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-about-right">
                                        <h2> <%= plan.TITLE %> </h2>
                                        <p> <%= plan.DESCRIPTION %></p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Feature Content -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->

        <!-- Start Video -->
        <iframe width="100%" height="700" src="<%= plan.VIDEO %>">
        </iframe>
        <!-- End Video -->
        
        <!-- Start Schedule  -->
        <section id="mu-schedule">
            <div class="container">
                <div class="row">
                    <div class="colo-md-12">
                        <div class="mu-schedule-area">

                            <div class="mu-title-area">
                                <h2 class="mu-title">Lịch trình chi tiết</h2>
                                <p> Chi tiết lịch trình du lịch <%= dateList.length %> ngày <%= dateList.length-1 %> đêm dành cho 2 người </p>
                            </div>

                            <div class="mu-schedule-content-area">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mu-schedule-menu" role="tablist">
                                    <!-- <li role="presentation" class="active"><a href="#first-day" aria-controls="first-day" role="tab" data-toggle="tab">Ngày 1_19/02/2021</a></li>
                                    <li role="presentation"><a href="#second-day" aria-controls="second-day" role="tab" data-toggle="tab">Ngày 2_20/02/2021</a></li>
                                    <li role="presentation"><a href="#third-day" aria-controls="third-day" role="tab" data-toggle="tab">Ngày 3_21/02/2021</a></li> -->

                                    <% for (var i=0; i < dateList.length; i++) { %>
                                        <% if (i == 0){ %> <li role="presentation" class="active">  <%}%>
                                        
                                        <% if (i != 0){ %> <li role="presentation"> <%}%>
                                            
                                            <a href="#day_<%= i+1 %>" role="tab" data-toggle="tab">Ngày <%= i+1 %> _ <%= dateList[i] %></a>
                                            
                                        </li>
                                    <% } %>
                                </ul>
                                
                                <!-- Tab panes -->
                                <div class="tab-content mu-schedule-content">
                                    <% for(var i=0; i < dateList.length; i++) {%>
                                        <% if (i==0) {%> <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="day_<%= i+1 %>"> <%}%>
                                        <% if (i!=0) {%> <div role="tabpanel" class="tab-pane fade mu-event-timeline" id="day_<%= i+1 %>"> <%}%>
                                            <ul>
                                                <% for (var j=0; j < detailPlan[i].length; j++) { %>
                                                    <li>
                                                        <div class="mu-single-event">
                                                            <img src=" <%= detailPlan[i][j].IMGLINK %>" alt="destination">
                                                            <p class="mu-event-time"> <%= detailPlan[i][j].TIMESTART %> </p>
                                                            <h3> <%= detailPlan[i][j].TAG %> </h3>
                                                            <span> <%= detailPlan[i][j].TENDD %> </span>
                                                        </div>
                                                    </li>
                                                <%}%>
                                            </ul>
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Schedule -->

        <!-- Start Speakers -->
        <section id="mu-speakers">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-speakers-area">
                            <div class="mu-title-area">
                                <h2 class="mu-title">Các địa điểm</h2>
                                <p>Khám phá các địa điểm nổi tiếng ở <%= plan.TITLE %></p>
                            </div>

                            <!-- Start Speakers Content -->
                            <div class="mu-speakers-content">
                                <div class="mu-speakers-slider">
                                    <% for (var i=0; i < desList.length; i++) { %> 
                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers">
                                        <a href = "<%= `/destinations/${plan.ID_AREA}/${desList[i].ID}` %>">
                                            <img src="<%= desList[i].IMGLINK %>" alt="des img">
                                            <div class="mu-single-speakers-info">
                                                <h3> <%= desList[i].TENDD %></h3>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- End single speaker -->
                                    <% } %>
                                </div>
                            </div>
                            <!-- End Speakers Content -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Speakers -->

        <!-- Start Venue -->
        <section id="mu-venue">
            <div class="mu-venue-area">
                <div class="row">

                    <div class="col-md-6">
                        <div class="mu-venue-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249857.11400871532!2d108.31063611153974!3d11.903876284963442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112fef20988b1%3A0xad5f228b672bf930!2zRGFsYXQsIEzDom0gxJDhu5NuZw!5e0!3m2!1sen!2s!4v1620544905082!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mu-venue-address">
                            <h2>Đà Lạt<i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
                            <h3>Thành phố Đà Lạt, tỉnh Lâm Đồng</h3>
                            <h4>Kinh độ : từ 108019'23'' đông đến 108036'27'' đông; <br> Vĩ độ : từ 11048'36'' bắc đến 12001'07'' bắc.</h4>
                            <p>Đà Lạt, thủ phủ của tỉnh Lâm Đồng ở phía nam Tây Nguyên của Việt Nam, tập trung xung quanh một hồ nước và sân gôn, và được bao quanh bởi những ngọn đồi, rừng thông, hồ và thác nước. Được biết đến với cái tên “Thành phố của mùa xuân vĩnh cửu” với khí hậu ôn hòa đặc biệt, Đà Lạt được người Pháp phát triển như một khu nghỉ mát vào đầu những năm 1900, và nhiều dấu ấn về di sản thuộc địa của nó vẫn còn.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Venue -->

        <!-- Start Pricing  -->
        <section id="mu-pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-pricing-area">
                            
                            <div class="mu-title-area">
                                <h2 class="mu-title">Đặt vé xe / khách sạn</h2>
                            </div>
                            
                            <div class="mu-pricing-conten">
                                <div class="row">
                                    
                                    <!-- single price item -->
                                    <div class="col-md-6" >
                                        <img src="/images/service/transport.png" style="height:300px; width:100%; border-radius:10px">
                                        <div style="background-color:#f8f8f8; margin-top: 2px; border-width:thin; border-style:solid; border-radius: 10px; text-align:center">
                                            <img src="/images/service/logo_transport.png" style="height:100px; width:auto; display:block; margin-left:auto; margin-right:auto">
                                            <h1 style="height: 50px; color: red; font-weight:900; margin-top: 10px; margin-bottom:10px"> Sài Gòn => Đà Lạt </h1>
                                            <div>
                                                <div style=" float: left; width: 30%;">
                                                    <img src="/images/service/distance_icon.png" style="width:30px">
                                                    239km
                                                </div>
                                                <div style=" float: left; width: 40%;">
                                                    <img src="/images/service/price_icon.png" style="width:30px">
                                                    250.000 VND/1 vé
                                                </div>
                                                <div style=" float: left; width: 30%;">
                                                    <img src="/images/service/time_icon.png" style="width:30px">
                                                    8 tiếng
                                                </div>
                                            </div>
                                        <a class="mu-register-btn" href="https://futabus.vn/mua-ve/ve-xe-phuong-trang-tpho-chi-minh-di-da-lat-405.html?step=1"> Xem thêm</a>
                                        </div>      
                                    </div>
                                    <!-- / single price item -->

                                    <!-- single price item -->
                                    <div class="col-md-6" >
                                        <img src="/images/service/hotel.jpg" style="height:300px; width:100%; border-radius:10px">
                                        <div style="background-color:#f8f8f8; margin-top: 2px; border-width:thin; border-style:solid; border-radius: 10px; text-align:center">
                                            <img src="/images/service/logo_hotel.png" style="height:100px; width:auto; display:block; margin-left:auto; margin-right:auto">
                                            <h3 style="height: 50px; color: red; margin-top: 10px; margin-bottom:10px"> Être homestay - Bungalow 2 giường view Hồ Tuyền Lâm </h3>
                                            <div>
                                                <div style=" float: left; width: 30%;">
                                                    <img src="/images/service/home_icon.png" style="width:30px">
                                                    20 m<sup>2
                                                </div>
                                                <div style=" float: left; width: 40%;">
                                                    <img src="/images/service/price_icon.png" style="width:30px">
                                                    1.500.000 VND/1 đêm
                                                </div>
                                                <div style=" float: left; width: 30%;">
                                                    <img src="/images/service/people_icon.png" style="width:30px">
                                                    4 người (tối đa 6)
                                                </div>
                                            </div>
                                        <a class="mu-register-btn" href="https://www.luxstay.com/vi/rooms/28782"> Xem thêm</a>
                                        </div>      
                                    </div>
                                    <!-- / single price item -->

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing -->

    </main>
    <!-- End main content -->	

    <!-- Start footer -->
    <footer id="mu-footer" role="contentinfo">
            <div class="container">
                <div class="mu-footer-area">
                    <div class="mu-footer-top">
                        <div class="mu-social-media">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="mu-footer-bottom">
                        <p>&copy; 2021 <a href="https://travel-itinerary-bmtp.herokuapp.com/">Travel Itinerary</a>. All Right Reserved</p>
                    </div>
                </div>
            </div>

    </footer>
    <!-- End footer -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <!-- Event Counter -->
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/js/plancustom.js"></script>

</body>
</html>