<!doctype html>
<html class="no-js"  lang="en">
	<head>
		<!-- META DATA -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

		<!-- TITLE OF SITE -->
		<title>Travel Itinerary</title>

		<!-- favicon img -->
		<link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>

		<!--font-awesome.min.css-->
		<link rel="stylesheet" href="/css/font-awesome.min.css" />

		<!--animate.css-->
		<link rel="stylesheet" href="/css/animate.css" />

		<!--hover.css-->
		<link rel="stylesheet" href="/css/hover-min.css">

		<!--datepicker.css-->
		<link rel="stylesheet"  href="/css/datepicker.css" >

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/owl.theme.default.min.css"/>

		<!-- range css-->
        <link rel="stylesheet" href="/css/jquery-ui.min.css" />

		<!--bootstrap.min.css-->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />

		<!-- bootsnav -->
		<link rel="stylesheet" href="/css/bootsnav.css"/>

		<!--style.css-->
		<link rel="stylesheet" href="/css/style.css" />

		<!--responsive.css-->
		<link rel="stylesheet" href="/css/responsive.css" />

		<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

	</head>

	<body>
		<audio id="audioID" loop> <source src="audio/intro.mp3"  type="audio/mp3"></audio>
			<script>
			var myaudio = document.getElementById("audioID").autoplay = true;
			</script>
			
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<%- include('partial/header', { auth: auth, user: user }) %>
		<!-- main-menu End -->
		
		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										Khám phá <br> Việt Nam diệu kỳ
									</h2>
									<div class="about-btn">
										<a href = "/itinerary">
											<button class="about-view">
												Khám phá ngay
											</button>
										</a>
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">

							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->

		<!--travel-box start-->
		<section  class="travel-box">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="single-travel-boxes">
							<div id="desc-tabs" class="desc-tabs">

								<ul class="nav nav-tabs" role="tablist">

									<li role="presentation" class="active">
										<a href="#tours" aria-controls="tours" role="tab" data-toggle="tab">
											<i class="fa fa-tree"></i>
											tours
										</a>
									</li>

									<li role="presentation">
										<a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">
											<i class="fa fa-building"></i>
											hotels
										</a>
									</li>

									<li role="presentation">
										<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
											<i class="fa fa-plane"></i>
												flights
										</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane active fade in" id="tours">
										<div class="tab-para">

											<div class="row">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Điểm đến</h2>

														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">Chọn quốc gia</option><!-- /.option-->

																<option value="VN">Việt Nam</option><!-- /.option-->
																<option value="VN">Đông Lào</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">Chọn điểm đến</option><!-- /.option-->

																<option value="HCM">Hồ Chí Minh</option><!-- /.option-->
																<option value="DL">Đà Lạt</option><!-- /.option-->
																<option value="HN">Hà Nội</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày đi</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="check_in" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày về</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="check_out" class="form-control"  data-toggle="datepicker" placeholder="22 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>duration</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">5</option><!-- /.option-->

																<option value="10">10</option><!-- /.option-->

																<option value="15">15</option><!-- /.option-->
																<option value="20">20</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Số người</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">1</option><!-- /.option-->
																<option value="2">2</option><!-- /.option-->
																<option value="4">4</option><!-- /.option-->
																<option value="8">8</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-5">
													<div class="travel-budget">
														<div class="row">
															<div class="col-md-3 col-sm-4">
																<h3>Ngân sách</h3>
															</div><!--/.col-->
															<div class="co-md-9 col-sm-8">
																<div class="travel-filter">
																	<div class="info_widget">
																		<div class="price_filter">
																			
																			<div id="slider-range"></div><!--/.slider-range-->

																			<div class="price_slider_amount">
																				<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
																			</div><!--/.price_slider_amount-->
																		</div><!--/.price-filter-->
																	</div><!--/.info_widget-->
																</div><!--/.travel-filter-->
															</div><!--/.col-->
														</div><!--/.row-->
													</div><!--/.travel-budget-->
												</div><!--/.col-->
												<div class="clo-sm-7">
													<div class="about-btn travel-mrt-0 pull-right">
														<button class="about-view travel-btn" onclick="location.href='/itinerary'" type="button">
															Bắt đầu
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->

											</div><!--/.row-->

										</div><!--/.tab-para-->

									</div><!--/.tabpannel-->

									<div role="tabpanel" class="tab-pane fade in" id="hotels">
										<div class="tab-para">

											<div class="row">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Điểm đến</h2>

														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">Chọn quốc gia</option><!-- /.option-->

																<option value="VN">Việt Nam</option><!-- /.option-->
																<option value="VN">Đông Lào</option><!-- /.option-->
															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">Chọn điểm đến</option><!-- /.opđiểmtion-->

																<option value="HCM">Hồ Chí Minh</option><!-- /.option-->
																<option value="DL">Đà Lạt</option><!-- /.option-->
																<option value="HN">Hà Nội</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày đi</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="check_in" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày về</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="check_out" class="form-control"  data-toggle="datepicker" placeholder="22 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>duration</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">5</option><!-- /.option-->

																<option value="10">10</option><!-- /.option-->

																<option value="15">15</option><!-- /.option-->
																<option value="20">20</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Số người</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">1</option><!-- /.option-->

																<option value="2">2</option><!-- /.option-->
																<option value="4">4</option><!-- /.option-->
																<option value="8">8</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-5"></div><!--/.col-->
												<div class="clo-sm-7">
													<div class="about-btn travel-mrt-0 pull-right">
														<button  class="about-view travel-btn">
															Tìm kiếm	
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->

											</div><!--/.row-->

										</div><!--/.tab-para-->

									</div><!--/.tabpannel-->

									<div role="tabpanel" class="tab-pane fade in" id="flights">
										<div class="tab-para">
											<div class="trip-circle">
												<div class="single-trip-circle">
													<input type="radio" id="radio01" name="radio" />
													<label for="radio01">
														<span class="round-boarder">
															<span class="round-boarder1"></span>
														</span>Vé khứ hồi
													</label>
												</div><!--/.single-trip-circle-->
												<div class="single-trip-circle">
													<input type="radio" id="radio02" name="radio" />
													<label for="radio02">
														<span class="round-boarder">
															<span class="round-boarder1"></span>
														</span>Vé một chiều
													</label>
												</div><!--/.single-trip-circle-->
											</div><!--/.trip-circle-->
											<div class="row">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Điểm đi</h2>

														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">Chọn điểm đi</option><!-- /.option-->

																<option value="HCM">Hồ Chí Minh</option><!-- /.option-->
																<option value="HN">Hà Nội</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày đi</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="departure" class="form-control" data-toggle="datepicker"
																placeholder="12 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-3 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Ngày về</h2>
														<div class="travel-check-icon">
															<form action="#">
																<input type="text" name="return" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
															</form>
														</div><!-- /.travel-check-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Người lớn</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">5</option><!-- /.option-->

																<option value="10">10</option><!-- /.option-->
																<option value="15">15</option><!-- /.option-->
																<option value="20">20</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

												<div class="col-lg-2 col-md-1 col-sm-4">
													<div class="single-tab-select-box">
														<h2>Trẻ em</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">1</option><!-- /.option-->

																<option value="2">2</option><!-- /.option-->
																<option value="4">4</option><!-- /.option-->
																<option value="8">8</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Điểm đến</h2>

														<div class="travel-select-icon">
															<select class="form-control ">
																<option value="default">Chọn địa điểm</option><!-- /.option-->
																<option value="HCM">Hồ Chí Minh</option><!-- /.option-->
															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->
												<div class="col-lg-3 col-md-3 col-sm-4">
													<div class="single-tab-select-box">

														<h2>class</h2>
														<div class="travel-select-icon">
															<select class="form-control ">

																<option value="default">enter class</option><!-- /.option-->
																<option value="A">A</option><!-- /.option-->
																<option value="B">B</option><!-- /.option-->
																<option value="C">C</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->
												<div class="clo-sm-5">
													<div class="about-btn pull-right">
														<button  class="about-view travel-btn">
															Tìm kiếm
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->
												
											</div><!--/.row-->

										</div>

									</div><!--/.tabpannel-->

								</div><!--/.tab content-->
							</div><!--/.desc-tabs-->
						</div><!--/.single-travel-box-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->

        </section><!--/.travel-box-->
		<!--travel-box end-->

        <!--service start-->
		<section id="service" class="service">
			<div class="container">
				<div class="service-counter text-center">
					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s1.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="#">
									Đa dạng du lịch
									</a>
								</h2>
								<p> Khám phá, trải nghiệm những tour du lịch tuyệt vời trên khắp Việt Nam</p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s2.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="#">
										Dịch vụ khách sạn tốt
									</a>
								</h2>
								<p>Dễ dàng đặt khách sạn với giá cả hợp lý nhưng chất lượng tốt nhất </p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-4 col-sm-4">
						<div class="single-service-box">
							<div class="statistics-img">
								<img src="/images/service/s3.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="#">
										Đặt vé máy bay online
									</a>
								</h2>
								<p> Nhanh chóng đặt vé máy bay mọi lúc mọi nơi </p>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->
		</section><!--/.service-->
		<!--service end-->

		<!--gallery start-->
		<section id="gallery" class="gallery">
			<div class="container">
				<div class="gallery-details">
					<div class="gallary-header text-center">
						<h2>
							top destination
						</h2>
						<p>
							Những địa điểm du lịch nổi tiếng ở Việt Nam
					</div><!--/.gallery-header-->
					<div class="gallery-box">
						<div class="gallery-content">
							<div class="filtr-container">
								<div class="row">
									<div class="row">
										<% for (var i = 0; i < 2; i++) { %>
											<div class="col-md-6">
												<div class="filtr-item">
													<img src="<%= `${info_topdes[i].REPRE_IMG}` %>" alt="portfolio image" style="height: 356px;"/>
													<div class="item-title">
														<a href="/destinations/<%= `${top_des[i].CODE}` %>">
															<%= info_topdes[i].NAME %>
														</a>
														<p>20 tours <br> 15 places</p>
													</div><!-- /.item-title -->
												</div><!-- /.filtr-item -->
											</div><!-- /.col -->
										<% } %>

										
									<div class="col-md-4">
										<div class="filtr-item">
											<img src="<%= `${info_topdes[2].REPRE_IMG}` %>" alt="portfolio image" style="height:590px"/>
											<div class="item-title">
												<a href="/destinations/<%= `${top_des[2].CODE}` %>">
													<%= info_topdes[2].NAME %>
												</a>
												<p>25 tours  <br> 10 places</p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
									</div><!-- /.col --></span><span></span>
								
										<% for (var i = 3; i < 5; i++) { %>
											<div class="col-md-4">
												<div class="filtr-item">
													<img src="<%= `${info_topdes[i].REPRE_IMG}` %>" alt="portfolio image" style="height:250px"/>
													<div class="item-title">
														<a href="/destinations/<%= `${top_des[i].CODE}` %>">
															<%= info_topdes[i].NAME %>
														</a>
														<p>18 tours <br> 9 places</p>
													</div> <!-- /.item-title-->
												</div><!-- /.filtr-item -->
											</div><!-- /.col -->
										<% } %>
	
										<div class="col-md-8">
											<div class="filtr-item">
												<img src="<%= `${info_topdes[5].REPRE_IMG}` %>" alt="portfolio image" style="width: 772px; height: 320px"/>
												<div class="item-title">
													<a href="/destinations/<%= `${top_des[5].CODE}` %>">
														<%= info_topdes[5].NAME %>
													</a>
													<p>14 tours <br> 6 places</p>
												</div> <!-- /.item-title-->
											</div><!-- /.filtr-item -->
										</div><!-- /.col -->
	
									</div><!-- /.row -->

								</div><!-- /.row -->
							</div><!-- /.filtr-container-->
						</div><!-- /.gallery-content -->
					</div><!--/.galley-box-->
				</div><!--/.gallery-details-->
			</div><!--/.container-->

			<div style="text-align:center;">
				<button class="gallery-button" onclick="location.href='/destinations'" type="button">
					Xem danh sách các khu vực
				</button>
			</div>
		</section><!--/.gallery-->
		<!--gallery end-->

		<!--packages start-->
		<section id="pack" class="packages">
			<div class="container"> 
				<div class="gallary-header text-center">
					<h2>
						special packages
					</h2>
					<p>
						Những tour trọn gói được nhiều người lựa chọn
					</p>
				</div><!--/.gallery-header-->
				<div class="packages-content">
					<div class="row">

						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p1.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Đà Lạt <span class="pull-right">3.200.000 VND</span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 3 ngày 2 đêm </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> Dalat Palace Hotel</br>
											<img style="height:50px; width:50px" src="/images/packages/car_icon.png"> Xe khách Phương Trang </br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button class="about-view packages-btn" onclick="location.href='/itinerary'">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->

						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p2.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Vũng Tàu <span class="pull-right"> 1.500.000 VND </span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 2 ngày 1 đêm </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> The Imperial Hotel</br>
											<img style="height:50px; width:50px" src="/images/packages/car_icon.png"> Xe khách Thành Bưởi </br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button  class="about-view packages-btn">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p3.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Đà Nẵng <span class="pull-right"> 3.739.000 VND </span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 3 ngày 2 đêm </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> Novotel Danang Premier Han River</br>
											<img style="height:50px; width:50px" src="/images/packages/plane_icon.png"> Vietnam Airlines</br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button  class="about-view packages-btn">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p4.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Hội An <span class="pull-right"> 500.000 VND </span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 1 ngày </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> </br>
											<img style="height:50px; width:50px" src="/images/packages/car_icon.png"> Vietjet Air (sân bay Đà Nẵng) </br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button  class="about-view packages-btn">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p5.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Phú Quốc <span class="pull-right">2.990.000 VND</span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 3 ngày 2 đêm </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> Premier Village Phu Quoc Resort </br>
											<img style="height:50px; width:50px" src="/images/packages/plane_icon.png"> Bamboo Airways </br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button  class="about-view packages-btn">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="/images/packages/p6.jpg" alt="package-place">
								<div class="single-package-item-txt">
									<h3> Nha Trang <span class="pull-right"> 2.590.000 VND </span></h3>
									<div class="packages-para">
										<p>
											<img style="height:50px; width:50px" src="/images/packages/calendar_icon.png"> 3 ngày 2 đêm </br>
											<img style="height:50px; width:50px" src="/images/packages/hotel_icon.png"> InterContinental Nha Trang </br>
											<img style="height:50px; width:50px" src="/images/packages/car_icon.png"> Phúc An Express </br>
										</p>
									</div><!--/.packages-para-->
									<div class="packages-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="about-btn">
										<button  class="about-view packages-btn">
											Xem chi tiết
										</button>
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->

					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->

		</section><!--/.packages-->
		<!--packages end-->

		<!--special-offer start-->
		<section id="spo" class="special-offer">
			<div class="container">
				<div class="special-offer-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="single-special-offer">
								<div class="single-special-offer-txt">
									<h2 style="color:white">Ho Chi Minh City _ Viet Nam</h2>
									<div class="packages-review special-offer-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 review</span>
										</p>
									</div><!--/.packages-review-->
									<div class="packages-para special-offer-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 5 ngày 4 đêm
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 2 người
											</span>
											<span>
												<i class="fa fa-angle-right"></i> Khách sạn 5 sao The Reverie Sài Gòn
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Xe Bus mui trần ngắm cảnh toàn thành phố
											</span>
										</p>
										<p class="offer-para">
											Du lịch đến với Sài Gòn – TP.HCM hơn 300 năm tuổi, bạn có thể gặp những tòa nhà cao tầng nằm san sát, những khu vui chơi giải trí, trung tâm mua sắm sầm uất, nhưng cũng không thiếu những biệt thự cổ kính, những ngôi chợ truyền thống tồn tại đã hàng trăm năm. Sài Gòn rộng lớn và không thiếu những “đặc sản” du lịch như Du ngoạn ven sông Sài Gòn bằng tàu, thăm phố Tây Phạm Ngũ Lão, mua sắm ở chợ Bến Thành hay về với biển Cần Giờ ...
										</p>
									</div><!--/.packages-para-->
									<div class="offer-btn-group">
										<div class="about-btn">
											<button  class="about-view packages-btn offfer-btn">
												Tạo lịch trình
											</button>
										</div><!--/.about-btn-->
										<div class="about-btn">
											<button class="about-view packages-btn" href="">
												Đặt ngay
											</button>
										</div><!--/.about-btn-->
									</div><!--/.offer-btn-group-->
								</div><!--/.single-special-offer-txt-->
							</div><!--/.single-special-offer-->
						</div><!--/.col-->
						<div class="col-sm-4">
							<div class="single-special-offer">
								<div class="single-special-offer-bg">
									<img src="/images/offer/offer-shape.png" alt="offer-shape">
								</div><!--/.single-special-offer-bg-->
								<div class="single-special-shape-txt">
									<h3>special offer</h3>
									<h4><span>40%</span><br>off</h4>
									<p><span> 1000d </span><br>Giá gốc 7.499.000 VND</p>
								</div><!--/.single-special-shape-txt-->
							</div><!--/.single-special-offer-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.special-offer-content-->
			</div><!--/.container-->

		</section><!--/.special-offer end-->
		<!--special-offer end-->

		<!--blog start-->
		<section id="blog" class="blog">
			<div class="container">
				<div class="blog-details">
						<div class="gallary-header text-center">
							<h2>
								latest news
							</h2>
							<p>
								Cập nhật các tin tức về du lịch ở Việt Nam
							</p>
						</div><!--/.gallery-header-->
						<div class="blog-content">
							<div class="row">
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<h2> Tin hot <span>07/05/2021</span></h2>
										<div class="thumbnail-img">
											<img src="/images/blog/b1.jpg" alt="blog-img">
											<div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
										
										</div><!--/.thumbnail-img-->
										<div class="caption">
											<div class="blog-txt">
												<h3>
													<a href="https://thanhnien.vn/du-lich/da-nang-ho-tro-giam-gia-phong-hoanhuy-ve-cho-du-khach-cach-ly-1379749.html">
														Đà Nẵng hỗ trợ giảm giá phòng, hoàn/hủy vé cho du khách cách ly
													</a>
												</h3>
												<p>
													Ngày 7.5, Sở Du Lịch TP.Đà Nẵng cho biết đã đề nghị các đơn vị có chính sách hỗ trợ du khách đang thực hiện cách ly.
												</p>
												<a href="https://thanhnien.vn/du-lich/da-nang-ho-tro-giam-gia-phong-hoanhuy-ve-cho-du-khach-cach-ly-1379749.html">Đọc tiếp ...</a>
											</div><!--/.blog-txt-->
										</div><!--/.caption-->
									</div><!--/.thumbnail-->

								</div><!--/.col-->

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<h2> Tin hot <span> 06/05/2021 </span></h2>
										<div class="thumbnail-img">
											<img src="/images/blog/b2.jpg" alt="blog-img">
											<div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
										
										</div><!--/.thumbnail-img-->
										<div class="caption">
											<div class="blog-txt">
												<h3>
													<a href="https://thanhnien.vn/du-lich/hang-loat-cac-hang-dong-noi-tieng-viet-nam-tam-dung-don-khach-tham-quan-1379314.html">
														Hàng loạt các hang động nổi tiếng Việt Nam tạm dừng đón khách tham quan
													</a>
												</h3>
												<p>
													Trước tình hình dịch bệnh Covid-19 đang diễn biến phức tạp, tỉnh Quảng Bình quyết định tạm dừng hoạt động tham quan tại nhiều điểm du lịch nổi tiếng ở Phong Nha - Kẻ Bàng.
												</p>
												<a href="https://thanhnien.vn/du-lich/hang-loat-cac-hang-dong-noi-tieng-viet-nam-tam-dung-don-khach-tham-quan-1379314.html">Đọc tiếp ...</a>
											</div><!--/.blog-txt-->
										</div><!--/.caption-->
									</div><!--/.thumbnail-->

								</div><!--/.col-->

								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<h2> Tin hot <span> 05/05/2021 </span></h2>
										<div class="thumbnail-img">
											<img src="/images/blog/b3.jpg" alt="blog-img">
											<div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
										</div><!--/.thumbnail-img-->
										<div class="caption">
											<div class="blog-txt">
												<h3>
													<a href="https://thanhnien.vn/du-lich/tphcm-se-cach-ly-ngay-du-khach-sot-tren-375-do-c-1378470.html">
														TP.HCM sẽ tạm cách ly ngay du khách sốt trên 37,5 độ C
													</a>
												</h3>
												<p>
													Sở du lịch TP.HCM vừa có văn bản gửi các doanh nghiệp lữ hành, các khu, điểm du lịch yêu cầu cách ly ngay du khách sốt trên 37,5 độ C để phòng dịch Covid-19.
												</p>
												<a href="https://thanhnien.vn/du-lich/tphcm-se-cach-ly-ngay-du-khach-sot-tren-375-do-c-1378470.html">Đọc tiếp ...</a>
											</div><!--/.blog-txt-->
										</div><!--/.caption-->
									</div><!--/.thumbnail-->
								</div><!--/.col-->

							</div><!--/.row-->
						</div><!--/.blog-content-->
					</div><!--/.blog-details-->
				</div><!--/.container-->

		</section><!--/.blog-->
		<!--blog end-->
		
		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>
						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->

		<!-- footer-copyright start -->
		<%- include('partial/footer') %>
		<!-- footer-copyright end -->

		<script src="/js/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->

		<!--modernizr.min.js-->
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

		<!--bootstrap.min.js-->
		<script  src="/js/bootstrap.min.js"></script>

		<!-- bootsnav js -->
		<script src="/js/bootsnav.js"></script>

		<!-- jquery.filterizr.min.js -->
		<script src="/js/jquery.filterizr.min.js"></script>

		<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!--jquery-ui.min.js-->
        <script src="/js/jquery-ui.min.js"></script>

        <!-- counter js -->
		<script src="/js/jquery.counterup.min.js"></script>
		<script src="/js/waypoints.min.js"></script>

		<!--owl.carousel.js-->
        <script  src="/js/owl.carousel.min.js"></script>

        <!-- jquery.sticky.js -->
		<script src="/js/jquery.sticky.js"></script>

        <!--datepicker.js-->
        <script  src="/js/datepicker.js"></script>

		<!--Custom JS-->
		<script src="/js/custom.js"></script>

	</body>

</html>