<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Detail Destination</title>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="510590194810-9r9fs334eti2s1bv2pqm780bifl7ahrt.apps.googleusercontent.com">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="510590194810-9r9fs334eti2s1bv2pqm780bifl7ahrt.apps.googleusercontent.com">

        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/css/commoncss.css" as="style">
        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/css/destinationSeoLanding.css" as="style">
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/FontAwesome/fontawesome-webfont-subset.woff2" as="font" type="font/woff2" crossorigin>

        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/common.js" as="script">
        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/destinationSeoLanding.js" as="script">

        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/icons-public.js" as="script">
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="dns-prefetch" href="https://www.google-analytics.com">
        <link rel="preconnect" href="//pagead2.googlesyndication.com" crossorigin>
        <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">

        <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.10/res/css/commoncss.css'>
        <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.10/res/css/destinationSeoLanding.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/hover-min.css">
        <link rel="stylesheet" href="/css/datepicker.css" >
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootsnav.css"/>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/responsive.css" />

        <style>
            .header-area {
                position: relative;
                width: 100%;
                background:rgba(77,78,84,1);
                height: 77.616px;
            }
            .home-border {
            border-top: 2px solid black;
        }

        #menu-item:before {
            all: unset;
        }

        #sign-out:before {
            all: unset;
        }

        .tile.destination {
            margin: 0 0 0px 8px;
        }

        .normal .row {
            margin-left: -10px;
            margin-right: -10px;
            height: 77.62px;
        </style>
    </head>

    <body class="normal header-visible">
        <div id="icon-container" class="svg-icon-container"></div>
        <script src="https://s.inspirockcdn.com/4.3.10/res/js/icons-public.js" type="text/javascript" defer></script>
            <div id="fb-root"></div>

        <div id="pageWrapper" class="page-wrapper ">
        <header class="page-header transparent   " id="pageHeader" style=""
            data-show-contact-us="true">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="logo">
                                <a href="/" style="font-family:'Courier New', Courier, monospace;">
                                    Travel<span>Itinerary</span>
                                </a>
                            </div><!-- /.logo-->
                        </div><!-- /.col-->
                        <div class="col-sm-10">
                            <div class="main-menu">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                        <i class="fa fa-bars"></i>
                                    </button><!-- / button-->
                                </div><!-- /.navbar-header-->
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="smooth-menu"><a href="/">Trang chủ</a></li>
                                        <li class="smooth-menu"><a href="/destinations">Danh sách khu vực</a></li>
                                        <li>
                                            <% if (auth == false) { %> 
                                                <button class="book-btn" onclick="location.href='/authen'" type="button">Đăng nhập</button>
                                            <% } else { %>
                                                <div class="dropdown">
                                                    <button class="btn left dropdown-toggle" type="button" data-toggle="dropdown"><%= user.username %> <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="profile" id="menu-item" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Thông tin cá nhân</a></li>
                                                        <li><a href="courses/it/3" id="menu-item" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Lịch trình của tôi</a></li>
                                                        <li><hr style="margin: 5px 0px; border-color: black;" /></li>
                                                        <li><a href="#" id="sign-out" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Đăng xuất</a></li>
                                                    </ul>
                                                </div>
                                            <% } %>
                                        </li><!--/.project-btn--> 
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.main-menu-->
                        </div><!-- /.col-->
                    </div><!-- /.row -->
                    <div class="home-border"></div><!-- /.home-border-->
                </div><!-- /.container-->
            </div><!-- /.header-area -->
        </header>
        <div class="page-content" id="pageContent">
            <div class="destination-details ">
                <div class="hero-header ">
                    <div class="hero-header-content">
                        <div class="hero-big">
                            <div class="hero-header-image"
                                style="background-image:url('<%= img_link[0].IMGLINK %>');"></div>
                        </div>

                        <div class="hero-title-wrapper">
                            <div class="hero-text ">
                                <% if (name !=null){ %>
                                    <h1 class="hero-title">
                                        <%= name %>
                                    </h1>
                                    <% } %>
                                        <div class="tagline">Hãy tạo một hành trình<br />cho bạn hoàn toàn miễn phí
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="destination-info ">
                    <div class="module-content clearfix">
                        <div class="detail-header">
                            <div class="detail-wrapper">
                                <% if (name !=null){ %>
                                    <h3 class="title">
                                        <%=name%>
                                    </h3>
                                    <% } %>
                                        <div class="rating">Rating:
                                            <%=kv_descrip_rate.RATE%> <i class="fa fa-star" style="color:#FFD700"></i>
                                        </div>
                                        <div class="description">
                                            <i>
                                                <%-kv_descrip_rate.DESCRIPTION%>
                                            </i>
                                        </div>
                            </div>
                        </div>
                        <div class="photos">
                            <%- include('../destinations/slider', { img_link: img_link}) %>
                        </div>
                    </div>
                </div>

                <div class="top-destinations section" data-selected="0">
                    <h3 class="section-title">Những địa điểm ở <%= `${name}` %>
                    </h3>

                    <!-- <div id="map" style="width:1000px; height: 500px; margin-bottom: 10px;"></div> -->
                    <iframe id="gg_map" src="http://maps.google.com/maps?q=25.3076008,51.4803216&z=16&output=embed"
                        height="500px" width="1000px"></iframe>

                    <!-- <div class="container">
            <div class="row row-cols-3">
                <a class="col-sm-4">
                    <span class="tile-inner-wrap">
                        <span class="tile-image lazyload"
                            data-url="https://s.inspirockcdn.com/ds10/photos/Belgium/2/ghent-city-center--1358860367.jpg"></span>
                        <span class="tile-title">Ghent<span class="tile-subtitle">Trip planner</span></span>
                        <span class="tile-subtext"><strong>BEST FOR:</strong> Historic Walking Area, Castle, Religious Site</span>
                        <span class="favorites-btn dest-fav img-tile " data-destination-id="37170677" data-loc-name="Ghent">
                                <svg class="favorites"><use xlink:href="#icon-favorites"></use></svg>
                            </span>
                        </span>
                </a>
                </div> 
            </div> -->

                    <div class="blocks clearfix container">
                        <div class="row row-cols-3">
                            <% for (var i=0; i < detail.length; i++) { %>
                                <a class="tile sm destination destinationDetailsLink notranslate col-sm-4"
                                    href="<%= `/destinations/${detail[i].KHUVUC}/${detail[i].ID}` %>">
                                    <span class="tile-inner-wrap">
                                        <span class="tile-image lazyload" data-url="<%= `${arr_dd_img[i]}`%>"></span>
                                        <span>
                                            <button id="fav_btn" onclick="addFavPlace(<%= `${detail[i].ID}`%>)"
                                            style="position: relative; width: 40px; height: 35px; left: 280px; background: none; border: none;">
                                                <i class="fa fa-heart" style="font-size:36px;color:red; 
                                            position: absolute; top: 3px; left: 0px;"></i>
                                            </button>
                                        </span>
                                        <span class="tile-title">
                                            <%= `${detail[i].TENDD}`%><span class="tile-subtitle">Lập kế hoạch</span>
                                        </span>
                                        <span class="tile-subtext"><strong>BEST FOR:</strong>
                                            <%= `${img_2d[i]}`%>
                                        </span>
                                    </span>
                                </a>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Include footer-->
        <%- include('../partial/footer') %>
            <!--Script for header-->
            <script src="/js/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/bootsnav.js"></script>
            <script src="/js/jquery.filterizr.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="/js/jquery-ui.min.js"></script>
            <script src="/js/jquery.counterup.min.js"></script>
            <script src="/js/waypoints.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/jquery.sticky.js"></script>
            <script src="/js/datepicker.js"></script>
            <script src="/js/custom.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp-K0_YN83Gj7rur4YHAUFzL8USdGdc5k&callback=initMap&libraries=&v=weekly"
                async></script>
    </div>
    <script type="text/javascript">
        function delayFn(fn, t) { return function () { setTimeout(fn, t); } }

        window.jqueryLocalePath = 'https://s.inspirockcdn.com/4.3.10/res-ext/jquery/js/locale';
        window.momentLocalePath = 'https://s.inspirockcdn.com/4.3.10/res/moment-with-locale/locale';
        window.languagePacksPath = 'https://s.inspirockcdn.com/4.3.10/res/loc';
        window.supportedLanguages = JSON.parse('["de","no","hi","ru","fi","pt","fr","zh-CN","sl","id","ca","sv","ko","sw","zh-TW","ms","el","en","it","ta","es","gu","iw","ar","vi","th","ja","tl","fa","da","nl"]');
        window.i18nSupportedLanguages = JSON.parse('["ar","de","ru","zh-TW","ja","en","sl","it","fr","zh-CN","es","nl"]');
        window.isRTL = false;
        window.jsLogEnabled = true;
        window.isWebPSupported = true;


        window.flightsEnabled = true;
        window.carsEnabled = true;
        window.r2rLinksEnabled = true;
        window.dateFormatDisplayPattern = 'D m/d';
        window.showMonthBeforeDay = true;
    </script>

    <script src="https://s.inspirockcdn.com/4.3.10/res/js/common.js" defer></script>
    <script src="https://s.inspirockcdn.com/4.3.10/res/js/destinationSeoLanding.js" defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42855545-3"></script>
    <script type="text/javascript">
            window.__primaryGATrackingId = 'UA-42855545-3';
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            var gaConfig = {'send_page_view': false, 'transport_type': 'beacon'};
            
            gtag('config', 'UA-42855545-3', gaConfig);
            
                gtag('config', 'G-Y9NDEE6T5Y', gaConfig);
    </script>

    <script>
        var address = <%- JSON.stringify(name) %>
        $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q='+address,  function(data) {
                if (data != false) {
                    var result = { lat: parseFloat(data[0].lat), lng: parseFloat(data[0].lon)  }
                    $('#gg_map').attr('src', `http://maps.google.com/maps?q=${result.lat},${result.lng}&z=16&output=embed`)
                }
            });

        $(document).ready(function () {
            $('#sign-out').on('click', function(e) {
                e.preventDefault();

                var user = <%- JSON.stringify(user) %>;
                
                if (user.google == 1) {
                    //sign out google
                    gapi.load('auth2', function() {
                        gapi.auth2.init().then(() => {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                                console.log('User signed out.');
                            });
                        })
                    });
                }
                
                window.location.href = "/sign-out";

            })
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#sign-out').on('click', function(e) {
                e.preventDefault();

                var user = <%- JSON.stringify(user) %>;
                
                if (user.google == 1) {
                    //sign out google
                    gapi.load('auth2', function() {
                        gapi.auth2.init().then(() => {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                                console.log('User signed out.');
                            });
                        })
                    });
                }
                
                window.location.href = "/sign-out";

            })
        });
    </script>

    <script>
        function addFavPlace(x)
        {
           
        }
    </script>
    </body>
</html>

