
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Detail Destination</title>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="510590194810-9r9fs334eti2s1bv2pqm780bifl7ahrt.apps.googleusercontent.com">

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/css/commoncss.css" as="style">
        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/css/destinationSeoLanding.css" as="style">
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://s.inspirockcdn.com/fonts/FontAwesome/fontawesome-webfont-subset.woff2" as="font" type="font/woff2" crossorigin>

        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/common.js" as="script">
        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/destinationSeoLanding.js" as="script">

        <link rel="preload" href="https://s.inspirockcdn.com/4.3.10/res/js/icons-public.js" as="script">
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="dns-prefetch" href="https://www.google-analytics.com">
        <link rel="preconnect" href="//pagead2.googlesyndication.com" crossorigin>
        <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">

        <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.10/res/css/commoncss.css'>
        <link rel="stylesheet" type="text/css" href='https://s.inspirockcdn.com/4.3.10/res/css/destinationSeoLanding.css'>

        <meta name="_csrf_parameter" content="_csrf" /><meta name="_csrf_header" content="X-CSRF-TOKEN" /><meta name="_csrf" content="08161e20-4935-41a4-9d74-506d4646cb88" />
        <link rel="preload" href="https://s.inspirockcdn.com/images/heroes/f/japan.jpg" as="image">
        <meta property="og:site_name" content="Inspirock" />
        <meta property="og:image" content="https://s.inspirockcdn.com/images/heroes/f/japan.jpg">
        <meta name="twitter:image" content="https://s.inspirockcdn.com/images/heroes/f/japan.jpg">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42855545-3"></script>
        <script type="text/javascript">
            window.__primaryGATrackingId = 'UA-42855545-3';
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            var gaConfig = {'send_page_view': false, 'transport_type': 'beacon'};
            
            gtag('config', 'UA-42855545-3', gaConfig);
            
                gtag('config', 'G-Y9NDEE6T5Y', gaConfig);
        </script>

        <style>
            @font-face {font-family:'Lato';font-weight:400;font-style:normal;font-display:swap;src:local('Lato Regular'),local('Lato-regular'),url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.woff') format('woff'),url('https://s.inspirockcdn.com/fonts/Lato-regular/Lato-regular.ttf') format('truetype');}
            @font-face {font-family:'Lato';font-weight:400;font-style:italic;font-display:swap;src:local('Lato Italic'),local('Lato-italic'),url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff2') format('woff2'),url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.woff') format('woff'),url('https://s.inspirockcdn.com/fonts/Lato-italic/Lato-italic.ttf') format('truetype');}
            @font-face {font-family:'Lato';font-weight:700;font-style:normal;font-display:swap;src:local('Lato Bold'),local('Lato-700'),url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff2') format('woff2'),url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.woff') format('woff'),url('https://s.inspirockcdn.com/fonts/Lato-700/Lato-700.ttf') format('truetype');}
            .header-area {
                position: relative;
                width: 100%;
                background:black;
            }
            .home-border {
            border-top: 2px solid black;
            }

            #menu-item:before {
                all: unset;
            }
            #sign-out:before {
                all:unset;
            }

        </style>
        <!--CSS-->
        <link rel="shortcut icon" type="image/icon" href="/logo/favicon.png"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/animate.css" />
        <link rel="stylesheet" href="/css/hover-min.css">
        <link rel="stylesheet" href="/css/datepicker.css" >
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootsnav.css"/>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/responsive.css" />
    </head>

    <body class=" normal   header-visible">
        <div id="icon-container" class="svg-icon-container"></div>
        <script src="https://s.inspirockcdn.com/4.3.10/res/js/icons-public.js" type="text/javascript" defer></script>
            <div id="fb-root"></div>

        <div id="pageWrapper" class="page-wrapper ">
            <header class="page-header transparent   " id="pageHeader" style=""
        data-show-contact-us="true">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo">
                            <a href="/" style="font-family:'Courier New', Courier, monospace;">
                            Travel<span>Itinerary</span>
                            </a>
                        </div><!-- /.logo-->
                    </div><!-- /.col-->
                    <div class="col-sm-10">
                        <div class="main-menu">
                        
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <i class="fa fa-bars"></i>
                                </button><!-- / button-->
                            </div><!-- /.navbar-header-->
                            <div class="collapse navbar-collapse">		  
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="smooth-menu"><a href="/">Trang chủ</a></li>
                                    <li class="smooth-menu"><a href="/destinations">Địa điểm</a></li>
                                    <li class="smooth-menu"><a href="#pack">Packages </a></li>
                                    <li class="smooth-menu"><a href="#spo">Special Offers</a></li>
                                    <li class="smooth-menu"><a href="#blog">blog</a></li>
                                    <li class="smooth-menu"><a href="#subPackages s">subscription</a></li>
                                    <li>
                                        <% if (auth == false) { %> 
                                            <a href="/authen">
                                                <button class="book-btn">Log in</button>
                                            </a>
                                        <% } else { %>
                                            <div class="dropdown">
                                                <button class="btn left dropdown-toggle" type="button" data-toggle="dropdown"><%= user.username %> <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="profile" id="menu-item" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Thông tin cá nhân</a></li>
                                                    <li><a href="courses/it/3" id="menu-item" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Lịch trình của tôi</a></li>
                                                    <li><hr style="margin: 5px 0px; border-color: black;" /></li>
                                                    <li><a href="#" id="sign-out" style="color: rgb(49, 49, 49); padding: 5px; font-size: 12px; font-weight: 0;">Đăng xuất</a></li>
                                                </ul>
                                            </div>
                                        <% } %>
                                    </li><!--/.project-btn--> 
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.main-menu-->
                    </div><!-- /.col-->
                </div><!-- /.row -->
                <div class="home-border"></div><!-- /.home-border-->
            </div><!-- /.container-->
        </div><!-- /.header-area -->
    </header>
<div class="page-content  clear  " id="pageContent">
                <div class="destination-details "
             data-destination-id="71445"
             data-destination-name="Asia"
             data-loc-destination-name="Asia"
             data-country-code=""
             data-valid-domain="true"
             data-default-photo="https://s.inspirockcdn.com/ds10/photos/United%20Arab%20Emirates/1/burj-khalifa--84134481.jpg"
             data-saved="">
            <div id="analytics-metadata"
     data-page-type="Destination Continent Page"
     data-page-type-new="DLP trip planner"
     data-entity-type="Continent"
     data-entity="Asia (71445)"></div><div class="stickers-tbl">
        <div class="sticker-cell">
            <div class="stickers">
                <div class="sticker active">
                        <div class="dest-count"><strong>1.209</strong><br/>trips planned today</div>
                    </div>
                <div class="sticker trust-pilot no-im-xu " data-url="https://www.trustpilot.com/review/inspirock.com">
                        <div class="trustpilot-cell">
                            <div class="trustpilot-rating"><strong>4.6</strong></div>
                            <div class="out-of">out of 5</div>
                            <div class="trust-source">Trustscore rating</div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<div class="hero-header ">
    <div class="hero-header-content">
        <div class="hero-big">
            <div class="hero-header-image" style="background-image:url('<%=`${img_link[0].IMGLINK}`%>');"></div>
             </div>
            
        <div class="hero-title-wrapper">
            <div class="hero-text ">
                <% if (name != null){ %>
                    <h1 class="hero-title"><%= name %></h1>
                <% } %> 
                <div class="tagline">Hãy tạo một hành trình<br/>cho bạn hoàn toàn miễn phí</div>
                    </div>
            <div class="form-wrapper">
                    <div id="dlp-shade" style="display: none;"></div>
                    <div class="form-cell">
                        <form id="dlp-planning-form" data-max-plan-length="60" data-coverage="Europe, Americas, Asia, South Pacific, &amp; Africa" class="planning-form " action="/generatePlanAjax" method="POST" autocomplete="off"><div class="steps">
        <h4 class="title "
                 title="">
                Itinerary planner</h4>
        <div class="dests">
            <div class="destinations ui-front">
                <div class="destination">
                                <div class="tip hidden" data-show-text="You can plan a vacation to any city, region, or country in the world."><span class="fa fa-question"></span></div>
                                <input type="text"
                                       class="domain flat ui-autocomplete-input"
                                       data-id="71445"
                                       data-label="Asia"
                                       data-nightstay="false"
                                       data-country-code=""
                                       data-top-nightstay="Dubai"
                                       data-value="Asia"
                                       value="Asia"
                                       placeholder="Enter destination (country, region, or city)"/>
                            </div>
                        </div>
            <span class="text-link add-destination">+ Add destination</span>
        </div>
        <div class="dates clearfix">
    <div class="calendar-input date-range">
        <input name="startDate" type="text" class="startDate container hidden" value="" readonly/>
        <input name="startDate-alt" type="text" value="" class="startDate-alt datepicker flat" placeholder="Start" readonly="readonly" />
        <input name="endDate" type="text" class="endDate container hidden" value="" readonly/>
        <input name="endDate-alt" type="text" value="" class="endDate-alt datepicker flat" placeholder="End" readonly="readonly"/>
        <svg class="calendar-icon"><use xlink:href="#icon-calendar"></use></svg>
        <svg class="arrow notranslate"><use xlink:href="#icon-plan-form-arrow"></use></svg>
        <div class="delete"></div>
    </div>
    <div class="travelers">
            <div class="travelers-btn" data-adults="2" data-teens="0" data-kids="0">
                <span>2 adults</span>
                    <div class="arrow-down"></div>
            </div>
            <div class="travel-with clearfix">
                <table>
                    <tr>
                        <td class="type">Adults</td>
                        <td class="picker">
                            <div class="clearfix">
                                <span class="minus notranslate ">-</span>
                                <input name="numAdults" class="whoAdults num" value="2" readonly data-min="1"/>
                                <span class="plus notranslate">+</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="type">Teens</td>
                        <td class="picker">
                            <div class="clearfix">
                                <span class="minus notranslate disabled">-</span>
                                <input name="numTeens" class="whoTeens num  disabled" value="0" readonly/>
                                <span class="plus notranslate">+</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="type">Kids</td>
                        <td class="picker">
                            <div class="clearfix">
                                <span class="minus notranslate disabled">-</span>
                                <input name="numKids" class="whoKids num  disabled" value="0" readonly/>
                                <span class="plus notranslate">+</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="close">Close</div>
            </div>
        </div>
    </div><div class="section-title more-options-btn expandable caption">Activities preferences <span class="optional"> (optional)</span><i class="arrow fa fa-angle-down"></i></div>
        <div class="step-content">
            <div class="style">
                <div class="column3 radio-wrap"><input type="radio" id="dlp-stylePopular" class="stylePopular box" name="style" value="Popular" checked/><label class="first" title="Popular" for="dlp-stylePopular">Popular</label></div>
                <div class="column3 radio-wrap"><input type="radio" id="dlp-styleBalanced" class="styleBlanaced box" name="style" value="Balanced" /><label title="Balanced"  for="dlp-styleBalanced">Balanced</label></div>
                <div class="column3 radio-wrap"><input type="radio" id="dlp-styleHiddenGems" class="styleHiddenGems box" name="style" value="HiddenGems" /><label class="last" title="Hidden gems" for="dlp-styleHiddenGems">Hidden gems</label></div>
            </div>
            <div class="pace">
                <div class="column3 radio-wrap"><input type="radio" id="dlp-paceSlow" class="paceSlow box" name="pace" value="Slow" /><label class="first"title="Slow & easy" for="dlp-paceSlow">Slow & easy</label></div>
                <div class="column3 radio-wrap"><input type="radio" id="dlp-paceMedium" class="pageMedium box" name="pace" value="Medium" checked/><label title="Medium" for="dlp-paceMedium">Medium</label></div>
                <div class="column3 radio-wrap"><input type="radio" id="dlp-paceFast" class="paceFast box" name="pace" value="Fast" /><label class="last" title="Fast-paced" for="dlp-paceFast">Fast-paced</label></div>
            </div>
            <div class="interests">
                <div class="interests-wrap">
                    <div class="column3"><input type="checkbox" id="dlp-interestCulture" class="interest interestCulture material" name="culture" value="true" /><label title="Culture" for="dlp-interestCulture">Culture</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-interestOutdoor" class="interest interestOutdoor material" name="outdoors" value="true" /><label title="Outdoors" for="dlp-interestOutdoor">Outdoors</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-interestUnwind" class="interest interestUnwind material" name="unwind" value="true" /><label title="Relaxing" for="dlp-interestUnwind">Relaxing</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-interestRomantic" class="interest interestRomantic material" name="romantic" value="true" /><label title="Romantic" for="dlp-interestRomantic">Romantic</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-category10" class="material" name="categoryGroupNames" value="Beaches" /><label title="Beaches" for="dlp-category10">Beaches</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-category26" class="material" name="categoryGroupNames" value="Historic Sites" /><label title="Historic sites" for="dlp-category26">Historic sites</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-category16" class="material" name="categoryGroupNames" value="Museums" /><label title="Museums" for="dlp-category16">Museums</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-category4" class="material" name="categoryGroupNames" value="Shopping" /><label title="Shopping" for="dlp-category4">Shopping</label></div>
                    <div class="column3"><input type="checkbox" id="dlp-category19" class="material" name="categoryGroupNames" value="Wildlife" /><label title="Wildlife" for="dlp-category19">Wildlife</label></div>
                    </div>
            </div>
        </div>
        <button type="button" class="plan-button cta-button large"> See your trip</button>
    </div>
    <input type="hidden" name="requiredAttractionIds" value ="" />
<div>
<input type="hidden" name="_csrf" value="08161e20-4935-41a4-9d74-506d4646cb88" />
</div></form></div>
                </div>
            </div>
    </div>
</div>
<div class="destination-info " data-destination-id="71445" 
      data-name="Asia" data-title="Asia" data-loc-name="Asia"
      data-lat="28.191189" data-lng="116.34539" data-show-directions="false" data-current-item="true">
    <div class="module-content clearfix">
        <div class="detail-header">
            <div class="detail-wrapper">
                <% if (locals.weather != null){ %>
                    <h3 class="title"><%=des[0].KHUVUC%></h3>
                <% } %> 
                    <div class="rating">
                        <div class="rating-stars ">
    <span class="rating-stars-fill" style="width:90.0%"></span>
</div>
4,5</div>
                <div class="cat-tags">
    <a href="/religious-sites-in-asia" class="tag clickable" data-cat-group-id="26"
                           data-destination-id="71445">Sacred & Religious Sites</a>
                    <span class="sep">&middot;</span>
        <span class="tag ">Landmarks</span>
                    <span class="sep">&middot;</span>
        <a href="/historical-places-in-asia" class="tag clickable" data-cat-group-id="26"
                           data-destination-id="71445">Historic Sites</a>
                    </div></div>
                </div>
        <div class="photos">
            <div class="slide-wrapper">
    <ul class="slides"></ul>
</div>
<div class="prev">
        <span class="fa fa-angle-left"></span>
    </div>
    <div class="next">
        <span class="fa fa-angle-right"></span>
    </div>
<div class="photo-wrapper hidden">
    <ul class="photo-all">
                <li data-index="0">
    <a class="photooption  attLink" 
       title="Mutianyu Great Wall, Beijing, China" 
       rel="destination-detail-photo-812382187" 
       href="/china/beijing/mutianyu-great-wall-a812382187">
        <span class="attr-photo lazyload"
            title="Mutianyu Great Wall, Beijing, China"
            data-url="https://s.inspirockcdn.com/ds10/photos/China/3/mutianyu-great-wall--1917016088.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Great_Wall_of_China_July_2006.JPG"
            data-artist="">
        </span>
        <div class="text-link attraction-name">Mutianyu Great Wall, Beijing</div>
        </a>
</li><li data-index="1">
    <a class="photooption  attLink" 
       title="Burj Khalifa, Dubai, United Arab Emirates" 
       rel="destination-detail-photo-725724405" 
       href="/united-arab-emirates/dubai/burj-khalifa-a725724405">
        <span class="attr-photo lazyload"
            title="Burj Khalifa, Dubai, United Arab Emirates"
            data-url="https://s.inspirockcdn.com/ds10/photos/United%20Arab%20Emirates/3/burj-khalifa--84134481.jpg"
            data-source-url="https://www.flickr.com/photos/will_spark/8604079928"
            data-artist="Will Spark">
        </span>
        <div class="text-link attraction-name">Burj Khalifa, Dubai</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="725724405"
                  data-img-path="burj-khalifa--84134481.jpg">&copy;</span>
        </a>
</li><li data-index="2">
    <a class="photooption  attLink" 
       title="Jinshanling Great Wall, Luanping County, China" 
       rel="destination-detail-photo-125230633" 
       href="/china/luanping-county/jinshanling-great-wall-a125230633">
        <span class="attr-photo lazyload"
            title="Jinshanling Great Wall, Luanping County, China"
            data-url="https://s.inspirockcdn.com/ds10/photos/China/3/jinshanling-great-wall--1772870873.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:20090529_Great_Wall_8159.jpg"
            data-artist="">
        </span>
        <div class="text-link attraction-name">Jinshanling Great Wall, Luanping County</div>
        </a>
</li><li data-index="3">
    <a class="photooption  attLink" 
       title="Angkor Wat, Siem Reap, Cambodia" 
       rel="destination-detail-photo-212081835" 
       href="/cambodia/siem-reap/angkor-wat-a212081835">
        <span class="attr-photo lazyload"
            title="Angkor Wat, Siem Reap, Cambodia"
            data-url="https://s.inspirockcdn.com/ds10/photos/Cambodia/3/angkor-wat--166553529.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Angkor_Wat.jpg"
            data-artist="Bjørn Christian Tørrissen">
        </span>
        <div class="text-link attraction-name">Angkor Wat, Siem Reap</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="212081835"
                  data-img-path="angkor-wat--166553529.jpg">&copy;</span>
        </a>
</li><li data-index="4">
    <a class="photooption  attLink" 
       title="Taj Mahal, Agra, India" 
       rel="destination-detail-photo-112059871" 
       href="/india/agra/taj-mahal-a112059871">
        <span class="attr-photo lazyload"
            title="Taj Mahal, Agra, India"
            data-url="https://s.inspirockcdn.com/ds10/photos/India/3/taj-mahal-962043040.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Taj_Mahal_%28Edited%29.jpeg"
            data-artist="">
        </span>
        <div class="text-link attraction-name">Taj Mahal, Agra</div>
        </a>
</li><li data-index="5">
    <a class="photooption  attLink" 
       title="Sheikh Zayed Grand Mosque, Abu Dhabi, United Arab Emirates" 
       rel="destination-detail-photo-856705767" 
       href="/united-arab-emirates/abu-dhabi/sheikh-zayed-grand-mosque-a856705767">
        <span class="attr-photo lazyload"
            title="Sheikh Zayed Grand Mosque, Abu Dhabi, United Arab Emirates"
            data-url="https://s.inspirockcdn.com/ds10/photos/United%20Arab%20Emirates/3/sheikh-zayed-grand-mosque-center-1854017095.jpg"
            data-source-url="https://www.flickr.com/photos/139553386@N05/44269899055"
            data-artist="Visit Abu Dhabi">
        </span>
        <div class="text-link attraction-name">Sheikh Zayed Grand Mosque, Abu Dhabi</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="856705767"
                  data-img-path="sheikh-zayed-grand-mosque-center-1854017095.jpg">&copy;</span>
        </a>
</li><li data-index="6">
    <a class="photooption  attLink" 
       title="The Dubai Mall, Dubai, United Arab Emirates" 
       rel="destination-detail-photo-245993795" 
       href="/united-arab-emirates/dubai/the-dubai-mall-a245993795">
        <span class="attr-photo lazyload"
            title="The Dubai Mall, Dubai, United Arab Emirates"
            data-url="https://s.inspirockcdn.com/ds10/photos/United%20Arab%20Emirates/3/the-dubai-mall-141452992.jpg"
            data-source-url="https://www.flickr.com/photos/depenbusch/37590752560"
            data-artist="Thomas Depenbusch (Depi)">
        </span>
        <div class="text-link attraction-name">The Dubai Mall, Dubai</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="245993795"
                  data-img-path="the-dubai-mall-141452992.jpg">&copy;</span>
        </a>
</li><li data-index="7">
    <a class="photooption  attLink" 
       title="Shinjuku Gyoen National Garden, Shinjuku, Japan" 
       rel="destination-detail-photo-118213173" 
       href="/japan/shinjuku/shinjuku-gyoen-national-garden-a118213173">
        <span class="attr-photo lazyload"
            title="Shinjuku Gyoen National Garden, Shinjuku, Japan"
            data-url="https://s.inspirockcdn.com/ds10/photos/Japan/3/shinjuku-gyoen-national-garden--479859943.jpg"
            data-source-url="https://maps.google.com/maps/contrib/111075619262604244635"
            data-artist="Leo L">
        </span>
        <div class="text-link attraction-name">Shinjuku Gyoen National Garden, Shinjuku</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="118213173"
                  data-img-path="shinjuku-gyoen-national-garden--479859943.jpg">&copy;</span>
        </a>
</li><li data-index="8">
    <a class="photooption  attLink" 
       title="Tubbataha Reef, Puerto Princesa, Philippines" 
       rel="destination-detail-photo-625360023" 
       href="/philippines/puerto-princesa/tubbataha-reef-a625360023">
        <span class="attr-photo lazyload"
            title="Tubbataha Reef, Puerto Princesa, Philippines"
            data-url="https://s.inspirockcdn.com/ds10/photos/Philippines/3/tubbataha-reef-1509296423.jpg"
            data-source-url="https://www.flickr.com/photos/q-phia/13570517923"
            data-artist="q.phia">
        </span>
        <div class="text-link attraction-name">Tubbataha Reef, Puerto Princesa</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="625360023"
                  data-img-path="tubbataha-reef-1509296423.jpg">&copy;</span>
        </a>
</li><li data-index="9">
    <a class="photooption  attLink" 
       title="Wadi Rum Protected Area, Wadi Rum, Jordan" 
       rel="destination-detail-photo-459105999" 
       href="/jordan/wadi-rum/wadi-rum-protected-area-a459105999">
        <span class="attr-photo lazyload"
            title="Wadi Rum Protected Area, Wadi Rum, Jordan"
            data-url="https://s.inspirockcdn.com/ds10/photos/Jordan/3/wadi-rum-protected-area-172414532.jpg"
            data-source-url="https://www.flickr.com/photos/139553386@N05/34286821750"
            data-artist="Stefana Savic">
        </span>
        <div class="text-link attraction-name">Wadi Rum Protected Area, Wadi Rum</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="459105999"
                  data-img-path="wadi-rum-protected-area-172414532.jpg">&copy;</span>
        </a>
</li><li data-index="10">
    <a class="photooption  attLink" 
       title="Fushimi Inari-taisha Shrine, Kyoto, Japan" 
       rel="destination-detail-photo-312216697" 
       href="/japan/kyoto/fushimi-inari-taisha-shrine-a312216697">
        <span class="attr-photo lazyload"
            title="Fushimi Inari-taisha Shrine, Kyoto, Japan"
            data-url="https://s.inspirockcdn.com/ds10/photos/Japan/3/fushimi-inari-taisha-shrine-1086086176.jpg"
            data-source-url="https://maps.google.com/maps/contrib/116655549838497725801"
            data-artist="Drew Middlesworth">
        </span>
        <div class="text-link attraction-name">Fushimi Inari-taisha Shrine, Kyoto</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="312216697"
                  data-img-path="fushimi-inari-taisha-shrine-1086086176.jpg">&copy;</span>
        </a>
</li><li data-index="11">
    <a class="photooption  attLink" 
       title="Kiyomizu-dera Temple, Kyoto, Japan" 
       rel="destination-detail-photo-812214607" 
       href="/japan/kyoto/kiyomizu-dera-temple-a812214607">
        <span class="attr-photo lazyload"
            title="Kiyomizu-dera Temple, Kyoto, Japan"
            data-url="https://s.inspirockcdn.com/ds10/photos/Japan/3/kiyomizu-dera-temple-1709977750.jpg"
            data-source-url="https://maps.google.com/maps/contrib/112268790186375164236"
            data-artist="tanr tanr">
        </span>
        <div class="text-link attraction-name">Kiyomizu-dera Temple, Kyoto</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="812214607"
                  data-img-path="kiyomizu-dera-temple-1709977750.jpg">&copy;</span>
        </a>
</li><li data-index="12">
    <a class="photooption  attLink" 
       title="The Bund (Wai Tan), Shanghai, China" 
       rel="destination-detail-photo-411841979" 
       href="/china/shanghai/the-bund-wai-tan-a411841979">
        <span class="attr-photo lazyload"
            title="The Bund (Wai Tan), Shanghai, China"
            data-url="https://s.inspirockcdn.com/ds10/photos/China/3/the-bund-wai-tan-410949000.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Crowded_Bund_on_summer_evening.jpg"
            data-artist="Daniel Case">
        </span>
        <div class="text-link attraction-name">The Bund (Wai Tan), Shanghai</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="411841979"
                  data-img-path="the-bund-wai-tan-410949000.jpg">&copy;</span>
        </a>
</li><li data-index="13">
    <a class="photooption  attLink" 
       title="The Grand Palace, Bangkok, Thailand" 
       rel="destination-detail-photo-612070283" 
       href="/thailand/bangkok/the-grand-palace-a612070283">
        <span class="attr-photo lazyload"
            title="The Grand Palace, Bangkok, Thailand"
            data-url="https://s.inspirockcdn.com/ds10/photos/Thailand/3/the-grand-palace-1587294139.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Grand_Palace_Bangkok%2C_Thailand.jpg"
            data-artist="Andy Marchand">
        </span>
        <div class="text-link attraction-name">The Grand Palace, Bangkok</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="612070283"
                  data-img-path="the-grand-palace-1587294139.jpg">&copy;</span>
        </a>
</li><li data-index="14">
    <a class="photooption  attLink" 
       title="Wat Pho, Bangkok, Thailand" 
       rel="destination-detail-photo-611821003" 
       href="/thailand/bangkok/wat-pho-a611821003">
        <span class="attr-photo lazyload"
            title="Wat Pho, Bangkok, Thailand"
            data-url="https://s.inspirockcdn.com/ds10/photos/Thailand/3/wat-phra-chetuphon--1918276465.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Wat_Pho%2C_Bangkok%2C_Tailandia%2C_2013-08-22%2C_DD_06.jpg"
            data-artist="Diego Delso">
        </span>
        <div class="text-link attraction-name">Wat Pho, Bangkok</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="611821003"
                  data-img-path="wat-phra-chetuphon--1918276465.jpg">&copy;</span>
        </a>
</li><li data-index="15">
    <a class="photooption  attLink" 
       title="Wild Wadi Waterpark, Dubai, United Arab Emirates" 
       rel="destination-detail-photo-112188273" 
       href="/united-arab-emirates/dubai/wild-wadi-waterpark-a112188273">
        <span class="attr-photo lazyload"
            title="Wild Wadi Waterpark, Dubai, United Arab Emirates"
            data-url="https://s.inspirockcdn.com/ds10/photos/United%20Arab%20Emirates/3/wild-wadi-waterpark-1799587760.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Wild_Wadi_Water_Park_Jumeirah_Sceirah.jpg"
            data-artist="FlickreviewR">
        </span>
        <div class="text-link attraction-name">Wild Wadi Waterpark, Dubai</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="112188273"
                  data-img-path="wild-wadi-waterpark-1799587760.jpg">&copy;</span>
        </a>
</li><li data-index="16">
    <a class="photooption  attLink" 
       title="Gardens by the Bay, Singapore, Singapore" 
       rel="destination-detail-photo-181668233" 
       href="/singapore/gardens-by-the-bay-a181668233">
        <span class="attr-photo lazyload"
            title="Gardens by the Bay, Singapore, Singapore"
            data-url="https://s.inspirockcdn.com/ds10/photos/Singapore/3/gardens-by-the-bay--1996260116.jpg"
            data-source-url="https://www.flickr.com/photos/139553386@N05/41073231762"
            data-artist="Singapore Tourism Board">
        </span>
        <div class="text-link attraction-name">Gardens by the Bay, Singapore</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="181668233"
                  data-img-path="gardens-by-the-bay--1996260116.jpg">&copy;</span>
        </a>
</li><li data-index="17">
    <a class="photooption  attLink" 
       title="Agra Fort, Agra, India" 
       rel="destination-detail-photo-412149779" 
       href="/india/agra/agra-fort-a412149779">
        <span class="attr-photo lazyload"
            title="Agra Fort, Agra, India"
            data-url="https://s.inspirockcdn.com/ds10/photos/India/3/agra-fort--1300672865.jpg"
            data-source-url="https://commons.wikimedia.org/wiki/File:Uttar-Pradesh-Agra-Agra-Fort-Jahangiri-mahal-Apr-2004-00.JPG"
            data-artist="">
        </span>
        <div class="text-link attraction-name">Agra Fort, Agra</div>
        </a>
</li><li data-index="18">
    <a class="photooption  attLink" 
       title="Singapore Flyer, Singapore, Singapore" 
       rel="destination-detail-photo-125789651" 
       href="/singapore/singapore-flyer-a125789651">
        <span class="attr-photo lazyload"
            title="Singapore Flyer, Singapore, Singapore"
            data-url="https://s.inspirockcdn.com/ds10/photos/Singapore/3/singapore-flyer-144336475.jpg"
            data-source-url="https://www.flickr.com/photos/139553386@N05/32954769638/"
            data-artist="Singapore Flyer">
        </span>
        <div class="text-link attraction-name">Singapore Flyer, Singapore</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="125789651"
                  data-img-path="singapore-flyer-144336475.jpg">&copy;</span>
        </a>
</li><li data-index="19">
    <a class="photooption  attLink" 
       title="Petra, Petra - Wadi Musa, Jordan" 
       rel="destination-detail-photo-812140887" 
       href="/jordan/petra-wadi-musa/petra-a812140887">
        <span class="attr-photo lazyload"
            title="Petra, Petra - Wadi Musa, Jordan"
            data-url="https://s.inspirockcdn.com/ds10/photos/Jordan/3/petra--1650744987.jpg"
            data-source-url="https://www.flickr.com/photos/139553386@N05/43281587421"
            data-artist="Stefana Savic">
        </span>
        <div class="text-link attraction-name">Petra, Petra - Wadi Musa</div>
        <span class="copyright copyright-fancy-box-img"
                  data-type="attraction"
                  data-id="812140887"
                  data-img-path="petra--1650744987.jpg">&copy;</span>
        </a>
</li></ul>
        </div></div>
        <div class="ads">
                <div class="first always">
                        <ins class="adsbygoogle dlp-right-adslot"
                         style="min-width:120px;max-width:300px;width:100%;height:600px;"
                         data-ad-client="ca-pub-3963390568368377"
                         data-ad-slot="1103358334"></ins>
                </div>
            </div>
        </div>
</div>
<div id="howitworks"></div><div class="get-complete-plan">
            <h3 class="complete-plan-title">Plan your trip to Asia</h3>
                <div class="">
                <ul class="complete-plan-row">
                    <li class="complete-plan-col">
                        <svg class="img create">
                            <use xlink:href="#icon-create"></use>
                        </svg>
                        <h5 class="title">Get a personalized trip</h5>
                        <div class="desc">A complete day by day itinerary<br/>based on your preferences</div>
                    </li>
                    <li class="complete-plan-col">
                        <svg class="img customize">
                            <use xlink:href="#icon-customize"></use>
                        </svg>
                        <h5 class="title">Customize it</h5>
                        <div class="desc">Refine your trip. We'll find the <br/>best routes and schedules</div>
                    </li>
                    <li class="complete-plan-col">
                            <svg class="img book">
                                <use xlink:href="#icon-book"></use>
                            </svg>
                            <h5 class="title">Book it</h5>
                            <div class="desc">Choose from the best hotels<br/>and activities. Up to 50% off</div>
                                </li>
                    <li class="complete-plan-col">
                        <svg class="img itinerary">
                            <use xlink:href="#icon-itinerary"></use>
                        </svg>
                        <h5 class="title">Manage it</h5>
                        <div class="desc">Everything in one place.<br/>Everyone on the same page.</div>
                    </li>
                </ul>
            </div>
        </div>

<div class="top-destinations section" data-selected="0">
    <h3 class="section-title">Places to visit in Asia</h3>
    <div class="map-wrapper">
            <div class="mini-map"
                 
                 data-ne-lat=""
                 data-ne-lng=""
                 data-sw-lat=""
                 data-sw-lng=""
                 
                 ></div>

            <div class="more-map-destinations" data-ids="611227443,111549873,211183135,512000401,211549835,627731223,411227139,411311119,517838721,111310853,911183249,211170215,811314007,411549759,511320961,311346877,846201047,811574307,511574421,911347029,511172761,211322595,511310321,611170063,611333843,411328599,111346611"></div>
            <div class="load-more">
                <button class="sec-button large  destinations" data-next-page-index="1">See more places <i class="fa fa-angle-down"></i></button>
            </div>
        </div>
    </div>

</div>
    <!--Include footer-->
    <%- include('../partial/footer') %>
    <!--Script for header-->
    <script src="/js/jquery.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/jquery.filterizr.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script  src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script  src="/js/datepicker.js"></script>
    <script src="/js/custom.js"></script>
</div>
    <script type="text/javascript">
        function delayFn(fn, t) {return function() {setTimeout(fn, t);}}

        window._gaProperties = window._gaProperties || {};
        function setGAProperty(property, value) {
            var obj = {};
            obj[property] = value;
            window._gaProperties[property] = value;
            gtag('set', obj);
        }

        setGAProperty('dimension1', '4.3.10'); 
        setGAProperty('dimension2', 'N/A'); 
        setGAProperty('dimension4', 'N/A'); 
        setGAProperty('dimension5', 'Anonymous'); 
            gtag('set', 'user_properties', {'user_type': 'Anonymous'}); 
        setGAProperty('dimension6', 'N/A'); 
        setGAProperty('dimension7', 'N/A'); 
        setGAProperty('dimension8', 'N/A'); 
        setGAProperty('dimension9', 'N/A'); 
        setGAProperty('dimension10', 'N/A'); 
        setGAProperty('dimension11', 'N/A'); 
        setGAProperty('dimension12', 'N/A'); 
        setGAProperty('dimension13', 'N/A'); 
        setGAProperty('dimension14', 'N/A'); 
        gtag('get', 'UA-42855545-3', 'client_id', function(clientId) {setCookie('gaclientid', clientId);}); 
        setGAProperty('dimension17', 'N/A'); 
        function reportImgError(src) {
            if (window.trackNonInteractionEvent) {
                window.trackNonInteractionEvent('imgload', 'fail', src);
            } else {
                window.addEventListener("load", function() {if (window.trackNonInteractionEvent) {reportImgError(src);}});
            }
        }
        function onImgError(image) {
            var src = image.src;
            image.onerror = ""; image.alt = "image not found"; image.src = "https://s.inspirockcdn.com/images/defaults/no-image.jpg";
            reportImgError(src);
            return true;
        }

        window.jqueryLocalePath = 'https://s.inspirockcdn.com/4.3.10/res-ext/jquery/js/locale';
        window.momentLocalePath = 'https://s.inspirockcdn.com/4.3.10/res/moment-with-locale/locale';
        window.languagePacksPath = 'https://s.inspirockcdn.com/4.3.10/res/loc';
        window.supportedLanguages = JSON.parse('["de","no","hi","ru","fi","pt","fr","zh-CN","sl","id","ca","sv","ko","sw","zh-TW","ms","el","en","it","ta","es","gu","iw","ar","vi","th","ja","tl","fa","da","nl"]');
        window.i18nSupportedLanguages = JSON.parse('["ar","de","ru","zh-TW","ja","en","sl","it","fr","zh-CN","es","nl"]');
        window.isRTL = false;
        window.jsLogEnabled=true;
        window.isWebPSupported = true;       
        window.openMapsEnabled = true;
        
        window.gmapsApiKey = 'AIzaSyBGnTKQZjDhGBilp8rRfblbRPGI2x6fZTc';
        window.flightsEnabled = true;
        window.carsEnabled = true;
        window.trainsEnabled = true;
        window.r2rLinksEnabled = true;
        window.dateFormatDisplayPattern = 'D m/d';
        window.showMonthBeforeDay = true;
    </script>

    <script src="https://s.inspirockcdn.com/4.3.10/res/js/common.js" defer></script>
    <script src="https://s.inspirockcdn.com/4.3.10/res/js/destinationSeoLanding.js" defer></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $('#sign-out').on('click', function(e) {
            e.preventDefault();

            var user = <%- JSON.stringify(user) %>;
            
            if (user.google == 1) {
                 //sign out google
                 gapi.load('auth2', function() {
                    gapi.auth2.init().then(() => {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            console.log('User signed out.');
                        });
                    })
                });
            }
            
            window.location.href = "/sign-out";

        })
    });
</script>
